@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.max-w-1140 {
    max-width: 1164px !important;
}

/* line height */
.lh-229 {
    line-height: 229%;
}

.lh-204 {
    line-height: 204%;
}

/* header */
.bg-img {
    background-image: url(../Images/Png/header-img.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 853px;
    background-position: center;
}

.mb-26 {
    margin-bottom: 26px;
}

.mb-75 {
    margin-bottom: 75px;
}

.max-w-899 {
    max-width: 899px;
}

.max-w-254 {
    max-width: 254px;
}

.btn-box {
    max-width: max-content;
}

.cursor-pointer {
    cursor: pointer;
}

.left-22 {
    left: 22px;
}

.right-34 {
    right: 34px;
}

.top-153 {
    top: 153px;
}

.top-140 {
    top: 140px;
}

.pt-71 {
    padding-top: 71px;
}

.get-btn {
    padding: 16px 39px;
    transition: all 200ms linear;
}

.get-btn:hover {
    transform: scale(1.1);
}

/* meet section */
.pt-140 {
    padding-top: 140px;
}

.meet-bg-img {
    background-image: url(../Images/Png/meet-section-box-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 56px 42px;
}

.max-w-1056 {
    max-width: 1056px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-43 {
    margin-top: 43px;
}

/* peak section */
.bg-img-2 {
    background-image: url(../Images/Png/peak-bg-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.h-44 {
    height: 44%;
}

.top-17 {
    top: -17%;
}

.mt-100 {
    margin-top: 100px;
}


.slider-track {
    display: flex;
}

.slider-track-1 {
    animation: slideLeft 5s linear infinite;
}

.slider-track-2 {
    animation: slideRight 5s linear infinite;
}

.mx-w-175 {
    max-width: 175px;
}

.mx-h-193 {
    max-height: 193px;
}

@keyframes slideLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

.mb-92 {
    margin-bottom: 92px;
}

.pt-140 {
    padding-top: 140px;
}

.left-slider-box {
    transform: translateX(-10%);
    overflow: hidden;
}

.right-slider-box {
    transform: translate(10%, 0);
    overflow: hidden;
}

.mt-30 {
    margin-top: 30px;
}

.pb-100 {
    padding-bottom: 100px;

}

.ml-26 {
    margin-left: 26px;
}

/*  */
.top-9 {
    top: -9%;
}

.pt-120 {
    padding-top: 120px;
}

.mb-20 {
    margin-bottom: 20px;
}

.max-w-892 {
    max-width: 892px;
}

.mt-98 {
    margin-top: 98px;
}

.max-w-370 {
    max-width: 370px;
}

.ml-29 {
    margin-left: 29px;
}

.pb-18 {
    padding-bottom: 18px;
}

.member-card {
    background-image: url(../Images/Png/Cupboard-white.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 22px 23px;
    max-width: 181px;
    transition: all 200ms linear;
}

.member-card:hover {
    background-image: url(../Images/Png/Cupboard-orange.png);
}

.max-w-135 {
    max-width: 135px;
}

.member-card:hover .card-text {
    color: white !important;
}

@media (max-width:991.98px) {
    .max-w-899 {
        max-width: 612px;
    }

    .mb-26 {
        margin-bottom: 18px;
    }

    .mb-75 {
        margin-bottom: 58px;
    }

    .bg-img {
        min-height: 643px;
    }

    .meet-bg-img {
        padding: 36px 16px 28px 16px;
    }

    .max-w-892 {
        max-width: 770px;
    }
}

@media (max-width:575.98px) {
    .max-w-899 {
        max-width: 282px;
    }

    .max-w-254 {
        max-width: 188px;
    }

    .get-btn {
        padding: 12px 28px;
    }

    .pt-71 {
        padding-top: 40px;
    }

    .mb-26 {
        margin-bottom: 0;
    }

    .mb-75 {
        margin-bottom: 34px;
    }

    .bg-img {
        min-height: 421px;
    }

    .max-w-892 {
        max-width: 366px;
    }

    .max-w-255 {
        max-width: 255px;
    }

    .meet-bg-img {
        padding: 26px 18px 23px 19px;
    }
}